# Buyer Account
#================================
# Normal condition (email and phone number confirmed)
BUYER_USERNAME=rgtestakun01
BUYER_EMAIL=rgtestakun01@gmail.com
BUYER_PASSWORD=Welcome@123
BUYER_PHONE_NUMBER=085722366565

# Registered using phone number
BUYER_RUPN_USERNAME=rupn.testing
BUYER_RUPN_PASSWORD=rupnqwerty
BUYER_RUPN_PHONE_NUMBER=085722366565

# Unconfirmed phone number
BUYER_UCPN_USERNAME=ucpn.testing
BUYER_UCPN_PASSWORD=ucpnqwerty
BUYER_UCPN_EMAIL=ucpn.testing@gmail.com
BUYER_UCPN_PHONE_NUMBER=085722883377

# Unconfirmed email
BUYER_UCEM_USERNAME=ucem.testing
BUYER_UCEM_PASSWORD=ucemqwerty
BUYER_UCEM_EMAIL=ucem.testing@gmail.com
BUYER_UCEM_PHONE_NUMBER=081233889988

# Seller Account
#================================
# Normal condition (email and phone number confirmed)
SELLER_USERNAME=seller.testing
SELLER_EMAIL=seller.testing@gmail.com
SELLER_PASSWORD=qwerty
SELLER_HONE_NUMBER=081293930049

# Invoice Number
#================================
PREPAID_DATA_PLAN_INVOICE_NUMBER=
PREPAID_PHONE_CREDIT_INVOICE_NUMBER=
PREPAID_ELECTRICITY_INVOICE_NUMBER=
PREPAID_GAME_VOUCHER_INVOICE_NUMBER=

# POSTPAID
#================================
POSTPAID_BPJS_NUMBERS=0000001430071801,8888801379345635
POSTPAID_CABLE_TV_NUMBERS=MNC|303715125,Trans|143387100462,Big|1116885447,Nex|622437586,Topas|2512000114
POSTPAID_CREDIT_CARD_NUMBERS=BRI|4365020922600613,ANZ|4157357567181273
POSTPAID_ELECTRICITY_NUMBERS=512345610000,530000000001
POSTPAID_MULTIFINANCE_NUMBERS=Columbia|807400010999,BFI|4511601783,Columbia|807400010001,Kredivo|1234567883229464,Home Credit Indonesia|3800009588
POSTPAID_PDAM_NUMBERS=mataram|1998800001,aetra|1998900001
POSTPAID_PHONE_CREDIT_NUMBERS=081234000001
POSTPAID_TELKOM_NUMBERS=0218800001,0218900001

# Invoice Numbers
#================================
POSTPAID_ELECTRICITY_INVOICE_NUMBER=
PDAM_INVOICE_NUMBER=
POSTPAID_PHONE_CREDIT_INVOICE_NUMBER=
BPJS_KESEHATAN_INVOICE_NUMBER=

# Environment
ENVIRONMENT=BLBL FINTECH
ENVIRONMENT_PRODUCTION=Production
ENVIRONMENT_STAGING_53=Staging 53 - KYC
SECRET_MENU_PASSWORD=adadehmautauaja

# Train Data
ORIGIN_STATION=
DESTINATION_STATION=

# Search Related Env
#================================
KEYWORD=Asus
PRODUCT_CATALOG_KEYWORD_IPHONE_1=iPhone X
PRODUCT_CATALOG_KEYWORD_IPHONE_2=oppo f1
PRODUCT_CATALOG_KEYWORD_IPHONE_3=iPhone Z 123
PRODUCT_CATALOG_KEYWORD_IPHONE_4=iPhone S
PRODUCT_CATALOG_KEYWORD_IPHONE_5=iPhone XS Max
PRODUCT_CATALOG_KEYWORD_BOOK_1=Game of thrones
PRODUCT_CATALOG_KEYWORD_SAMSUNG_1=Samsung Galaxy S9+

# API Helper
#================================
API_CLIENT_ID=e4ffe36210ff3495fcbbfaa5
API_CLIENT_SECRET=cf13c5b486cac4f843470c729c4eca1ff308bf41c66da4644fa8651e73f16023
API_USER_AGENT=blios BLMobile/0229000
API_APP_VERSION=0209001
API_IDENTITY=13b79776a4c50c98
API_BUKALAPAK_IDENTITY=identity-api-testing
API_URL=https://api.bukalapak.com/
ACCOUNTS_URL=https://accounts.bukalapak.com/
FCM_AUTHORIZATION=
API_BUKALAPAK_IDENTITY=identity-api-testing

# Staging 53
API_CLIENT_ID_STAGING_53=783d9213186b7a5da063e746
API_CLIENT_SECRET_STAGING_53=aa2cc29d957c7dd4aae8a10f93e5c502ca1f29934888f719d3014333ce152eda

# Another User
#================================
WOW_USER_USERNAME=hamtaro1
WOW_USER_PASSWORD=hamtaro1
WOW_USER_2_USERNAME=hamtaro4
WOW_USER_2_PASSWORD=hamtaro4

# account in staging 53
WOW_USER_3_USERNAME=andalan1
WOW_USER_3_PASSWORD=andalan1

# Angsuran Kredit
CONFIRMED_USERNAME=fixcotesting
CONFIRMED_PASSWORD=bukalapak001
POSTPAID_SMART_FINANCE_CUSTOMER_NUMBER=04642118000179

# Postpaid Topup Dana
ACTIVE_DANA_USERNAME=vpdana1
ACTIVE_DANA_PASSWORD=danatesting1
INACTIVE_DANA_USERNAME=vpdana2
INACTIVE_DANA_PASSWORD=danatesting2

TOPUP_DANA_INVOICE_NUMBER=BL1912I1A6O7INV

# Telkom
TELKOM_CUSTOMER_NUMBER=02178832302
TELKOM_INVOICE_NUMBER=BL1912QX8W8YINV

# Quick filter
#================================
# address in staging 53
QF_ADDRESS_WOW_1=Jl jalan

# Catalog category
#================================
# category in staging 53
CATALOG_CATEGORY_HANDPHONE=Handphone (1)
CATALOG_CATEGORY_SEMUA_HANDPHONE=Semua Handphone (1)
