build/*
target/*
bukalapak_ios*
ios-automation*
.gradle/*
bl_ios*
src/main/resources/env/*.env
out/*
appium.log
logs*
.idea/
.DS_Store
**/.DS_Store
src/main/resources/capabilities.properties
src/main/resources/element.properties
node/config/node*
node/logs
xray/*
.env
capabilities.properties
rerun/*
report/*
*.vscode
*.feature
screenshots_failed/*
